@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: #1A2980;
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    background: linear-gradient(to right, #26D0CE, #1A2980);


}

body,
html {
    overflow-x: hidden;
    height: 100%;

}

/*---nav-bar---*/

.nav-bar {
    width: 100%;
    cursor: pointer;
    top: 0px;
    z-index: 200;
    position: relative;
    cursor: pointer;
}

.nav-bar .logo {
    padding: 20px;
}

.nav-bar .logo span {
    font-size: 10px;
}

.nav-bar .logo a {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 3px;
    font-family: 'Playfair Display SC', serif;

}

.nav-bar .menu-bar {
    position: fixed;
    right: 30px;
    top: 30px;
}

.nav-bar .menu-bar .open-button {
    color: yellow;
    font-size: 40px;
    cursor: pointer;

}

.overlay-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0%;
    z-index: 300;
    overflow-x: hidden;
    transition: 0.5s all;
    background: #005AA7;
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
    background: linear-gradient(to right, #FFFDE4, #005AA7, );
    cursor: pointer;
}

.overlay-items {
    position: relative;
    width: 100%;
    text-align: center;
    top: 25%;
    margin-top: 10px;

}

.overlay-menu a {
    font-size: 30px;
    padding: 5px;
    display: block;
    text-decoration: none;
    color: yellow;
    font-family: 'Playfair Display SC', serif;

}

.overlay-menu a:hover {
    text-decoration: underline;

}


.overlay-menu .close-button {
    position: absolute;
    font-size: 40px;
    right: 20px;
    top: 10px;
    color: yellow;
}

/* homepage ---*/

.home-page-margin {
    margin-top: -180px;
}

.home-page-1 {
    margin-left: -15px;

}

.next-dest {
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.next-dest-1 {
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.next-dest-2 {
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.next-dest-3 {
    padding-left: 40px;
    padding-right: 40px;
}

.dest-3 {
    padding-left: 60px;
}

.next-dest-5 {
    color: white;
    font-family: 'Playfair Display SC', serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.image-1 {
    max-width: 100vw;
    height: auto;
}

.image-2 {
    width: 100vw;
    max-height: auto;
}

.image-3 {
    max-width: 100vw;
    height: auto;
}

.next-dest-3 {
    font-size: 20px;
}

.dest-1 {
    font-size: 22px;
    text-align: center;
}

.next-dest-media-1 {
    margin-top: 100px;

}

.carousel-item {
    max-width: 100vw;
    height: auto;
}

/* register button---*/

.home-page-button {

    background: #44A08D;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
    background-color: white;
    color: orangered;
    text-transform: uppercase;

}

.home-page-button:hover {
    color: orangered;


}

/* footer*/

.container-2 {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background: #667db6;
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);

}

.footer-2 {
    margin-top: 40px;
}

.footer-2 ul li {
    list-style: none;
}

.footer-2 ul li a {
    text-decoration: none;
    color: white;
}

.footer-links {
    padding: 8px;
}

.social-link {
    margin-top: 20px;

}

.social-link .social {
    padding: 10px;

}

.social-link .social a {
    text-decoration: none;

}

.social-link .social a i {
    font-size: 40px;


}

.color-1 a i {
    color: #f7b733;

}

.color-2 a i {
    color: #f7b733;
}

.color-3 a i {
    color: #f7b733;
}

.color-4 a i {
    color: #f7b733;
}

.copy-right {
    text-align: center;
    font-size: small;
    margin-top: 30px;
    text-align: justify;
    color: white;
}

.uppercase {
    color: #f7b733;
    text-transform: capitalize;
    margin-bottom: 30px;

}

.footer-logo {
    justify-content: center;
    text-align: justify;
    letter-spacing: 3px;
    font-family: 'Playfair Display SC', serif;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    padding-top: 80px;


}

h3 span {
    font-size: 10px;
}

.street {
    color: white;
}

.uppercase-1 {
    color: #f7b733;

}

.footer-2 a:hover {
    color: yellow;
}

/*-----register page & login page----*/

main {
    min-height: calc(100vh - 436px);

}

.main-heading {
    margin-top: 20px;
    margin-bottom: 100px;


}

.regi-center {
    margin-bottom: 20px;
    color: white;
    font-family: 'Playfair Display SC', serif;

}

.already-register {
    font-size: 12px;
}

.fl-message {
    margin-top: 50px;
    font-family: 'Playfair Display SC', serif;
    color: white;
}

/*contact page--*/

.contact-box {
    border-radius: 10px;
    background-color: whitesmoke;
    max-width: 800px;
    margin-top: 70px;
    margin-bottom: 100px;

}

.contact-us {
    text-align: center;
    padding-top: 10px;
    font-family: 'Playfair Display SC', serif;
}

.underline {
    background-color: orangered;
}

.form-box {
    display: block;
    padding-top: 10px;
    padding: 30px;

}

input[type=text] {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

input[type=email] {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

input[type=submit] {
    width: 100%;
    height: 40px;
    /*background-color:rgb(153, 56, 71);*/
    background: #667db6;
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    opacity: 0.6;
    color: white;
    margin-bottom: 20px;
    text-align: center;

}

.contact-1 {
    text-align: left;
    margin-bottom: 5px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    font-size: larger;
}

form input[type=text],
input[type=email],
textarea {
    outline-color: lightblue;

}

.error-message {
    font-size: 12px;

}

/* prfilepage*/

.profile-container {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.profile-name {
    color: white;
    font-family: 'Playfair Display SC', serif;
}

.edit-profile {
    color: yellow;
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    text-decoration: none;
}

.delete-profile {
    color: yellow;
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    text-decoration: none;
}

.delete-profile:hover {
    color: red;
    opacity: 0.5;
}

.modal-content {
    font-family: 'Playfair Display SC', serif;
}

.profile-message {
    color: white;
    font-family: 'Playfair Display SC', serif;

}


/* add destination page */

.holiday-desti {
    color: white;
    font-family: 'Playfair Display SC', serif;

}

.desti-message {
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
}

.holiday-desti-1 {
    font-family: 'Playfair Display SC', serif;
}

.small-text {
    font-size: 12px;

}

/* singel destination page */

.show-text {
    color: white;


}

.show-text-1 {
    color: white;
    font-family: 'Playfair Display SC', serif;

}

.show-text-2 {
    color: black;
    font-size: large;
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
}



/*media query --------*/

@media (max-width: 1300px) {
    .next-dest-media-3 {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .next-dest {
        font-size: 20px;
    }
}

@media (max-width: 993px) {
    .next-dest {
        display: none;
    }

    .dest-1 {
        text-transform: capitalize;
        margin-top: 0px;
    }

    .image-1 {
        margin-top: 0px;
    }

    .column-reverse {
        flex-direction: column-reverse;
    }


    .image-2 {
        margin-top: 80px;
    }

    .next-dest-media-3 {
        margin-top: 70px;
    }

    .image-3 {
        margin-top: 70px;
        height: auto;
        width: 100vw;
    }

    .next-dest-media-4 {
        margin-top: 70px;
    }

    .image-4 {
        margin-top: 70px;
        min-width: 100vw;
        margin-left: 15px;
        margin-bottom: 50px;
    }

    .contact-box {
        width: 90%;


    }


}

@media (max-width: 800px) {
    .container-2 {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 0px;
    }

    .footer-1 {
        text-align: center;
        justify-content: center;
        display: inline-flex;
        margin-bottom: 50px;

    }

    .footer-logo {
        margin-top: -50px;
    }

    .footer-2 {
        display: inline-flex;
        padding: 5px;
        text-align: center;
        justify-content: center;
    }

    .footer-links {
        display: inline-flex;

    }

    .uppercase {
        display: none;
    }

    .uppercase-1 {
        display: none;
    }

    .street {
        display: none;
    }

    .copy-right {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 0px;
    }

    .uppercase {
        margin-top: 30px;

    }
}

@media (max-width: 770px) {
    .add-destination-form {
        padding-left: 40px;

    }
}

@media (max-width: 700px) {
    .next-dest-media-4 {
        padding-left: 60px;
    }

    .next-dest-media-1 {
        padding-left: 50px;
    }

    .next-dest-1 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .next-dest-2 {
        padding-left: 40px;
        padding-right: 40px;
    }


}

@media (max-width: 600px) {
    .main-heading {
        margin-bottom: 80px;
        padding-left: 30px;
        padding-right: 30px;
    }
}


@media (max-width: 500px) {
    .footer-2 {

        padding-left: 10px;
        padding-right: 40px
    }
}

@media (max-width:415px) {
    .overlay-menu a {
        font-size: 20px;
        padding: 3px;


    }
}

@media (max-width: 380px) {
    .main-heading {
        margin-top: 10px;
    }

    .overlay-menu a {
        font-size: 20px;
    }
}