@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
  }

body {
    background: #1A2980;
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    background: linear-gradient(to right, #26D0CE, #1A2980);
    
}

body,
html {
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

/*---nav-bar---*/

.nav-bar {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0px;
    overflow-x: hidden;
    z-index:200;
}

.nav-bar .logo {
    padding: 20px;
}

.nav-bar .logo span {
    font-size: 10px;
}

.nav-bar .logo a {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 3px;
    font-family: 'Playfair Display SC', serif;

}

.nav-bar .menu-bar {
    position: absolute;
    right: 30px;
    top: 30px;
}

.nav-bar .menu-bar .open-button {
    color: yellow;
    font-size: 40px;
    cursor: pointer;

}

.overlay-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width:0%;
    z-index: 300;
    overflow-x: hidden;
    transition: 0.5s all;
    background: #005AA7;
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
    background: linear-gradient(to right, #FFFDE4, #005AA7,);
    cursor: pointer;
}

.overlay-items {
    position: relative;
    width: 100%;
    text-align: center;
    top: 20%;
    margin-top: 10px;

}

.overlay-menu a {
    font-size: 30px;
    padding: 5px;
    display: block;
    text-decoration: none;
    color: yellow;

}

.overlay-menu .close-button {
    position: absolute;
    font-size: 40px;
    right: 20px;
    top: 5px;
    color: yellow;
}

/* homepage ---*/

.home-page-1 {
    margin-left: -15px;

}

.next-dest {
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.next-dest-1 {
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.next-dest-2 {
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.next-dest-3 {
    padding-left: 40px;
    padding-right: 40px;
}

.dest-3 {
    padding-left: 60px;
}

.next-dest-5 {
    color: white;
    font-family: 'Playfair Display SC', serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.image-1 {
    max-width: 100vw;
    height: auto;
}

.image-2 {
    width: 100vw;
    max-height: auto;
}

.image-3 {
    max-width: 100vw;
    height: auto;
}

.next-dest-3 {
    font-size: 20px;
}

.dest-1 {
    font-size: 22px;
    text-align: center;
}

.next-dest-media-1 {
    margin-top: 100px;

}

.carousel-item {
    max-width: 100vw;
    height: auto;
}

/* register button---*/

.home-page-button {

    background: #44A08D;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
    background-color: white;
    color: orangered;
    text-transform: uppercase;

}

.home-page-button:hover {
    color: orangered;


}

/* footer*/

.container-2 {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background: #667db6;
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    
}

.footer-2 ul li {
    list-style: none;
}

.footer-2 ul li a {
    text-decoration: none;
    color: white;
}

.footer-links {
    padding: 8px;
}

.social-link {
    margin-top: 20px;

}

.social-link .social {
    padding: 10px;

}

.social-link .social a {
    text-decoration: none;

}

.social-link .social a i {
    font-size: 40px;


}

.color-1 a i {
    color: #f7b733;

}

.color-2 a i {
    color: #f7b733;
}

.color-3 a i {
    color: #f7b733;
}

.color-4 a i {
    color: #f7b733;
}

.copy-right {
    text-align: center;
    font-size: small;
    margin-top: 30px;
    text-align: justify;
    color: white;
}

.uppercase {
    color: #f7b733;
    text-transform: capitalize;
    margin-bottom: 30px;

}

.footer-logo{
    justify-content: center;
    text-align: justify;
    letter-spacing: 3px;
    font-family: 'Playfair Display SC', serif;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    padding-top: 100px;

}

h3 span {
    font-size: 10px;
}

.street {
    color: white;
}

.uppercase-1 {
    color: #f7b733;

}

/*media query --------*/

@media (max-width: 1300px) {
    .next-dest-media-3 {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .next-dest {
        font-size: 20px;
    }
}
