{% extends "base.html" %}
{% block content %}
<!--add category heading-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center holiday-desti mt-2">
                <h1> Add Holiday Category</h1>
                <p class="desti-message">
                    lets go one step ahead & upgrade !
                    to add more holiday categories!
                </p>
            </div>
            <!--Add category form-->
            <div class="row">
                <form class="col-sm-12 col-md-8 col-lg-6  offset-md-2 offset-lg-3 mt-5 mb-5 add-destination-form"
                    method="POST" action="{{ url_for('add_category') }}">
                    <div class="card p-3">
                        <div class="card-body">
                            <div class="row">
                                <h4 class=" mb-5 mt-3 text-center  holiday-desti-1 "> Next Destination Club </h4>
                                <div class="form-floating ">
                                    <input type="text" name="category_name" class="form-control"
                                        id="category_name" placeholder="Category Name" required>
                                    <label for="category_name"><i class="fas fa-map-marker-alt p-2"></i> Category
                                        Name</label>
                                </div>
                                <div class="d-grid mb-3 mt-3">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                                <p class="mt-2 text-sm"> I have changed my mind! I dont want add new  category?
                                    <a href="{{ url_for('get_categories') }}">Back to categories
                                        page</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}