{% extends "base.html" %}
{% block content %}
<!--add destination-->
<section>
    <div class="container-fluid align-items-center">
        <div class="row">
            <div class="col-lg-8 text-center center mt-5">
                <h2> Add your best holiday destinations</h2>
                <p>
                    lets go one step ahead & upgrade your profile ! 
                    here you can add your favorite holiday destination 
                    & share with others.
                </p>
            </div>
        </div>
        





{% endblock %}