<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Destination Club</title>
</head>

<body>
    {% for destination in destinations %}
        {{destination.destination_name}}<br>
        {{destination.category_name}}<br>
        {{destination.climate}}<br>
        {{destination.language}}<br>
        {{destination.best_time_to_travel}}<br>
        {{destination.destination_description}}<br>
        {{destination.country_name}}
    {% endfor %}

</body>

</html>