{% extends "base.html" %}
{% block content %}
<!--hero image and  register buttton-->
<header>
    <div class="container-fluid home-page-1 home-page-margin">
        <div class="row column-reverse">
            <div class="col-lg-6 next-dest-5 next-dest-media-1">
                <h2 class="next-dest"> Next Destination Club !</h2>
                <p class="next-dest-3 dest-1">
                    Join us on Next destination club to get &<br>
                    share your dream holidays destination around the world!
                </p>
                {% if session.user %}
                <a class="btn home-page-button" href="{{ url_for('add_destination') }}">Add destination</a>
                {% else %}
                <a class="btn home-page-button" href="{{url_for('register')}}">Register</a>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <img class="image-1 img-responsive" src="/static/images/beach-2.jpg" alt="beach image">
            </div>
        </div>
    </div>
</header>
<!--containerfluid which contain images and content as well-->
<section>
    <div class="container-fluid home-page-1">
        <div class="row column-reverse">
            <div class=" col-12">
                <img class="image-2 img-responsive" src="/static/images/beach-16.jpg" alt="beach image">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid home-page-1">
        <div class="row">
            <div class=" col-lg-6 next-dest-5 next-dest-media-3">
                <h4 class="next-dest-1"> Holidays Around The World</h4>
                <p class="next-dest-3 dest-3">
                    When it comes to search a holiday, we know everyone likes something different - so I have designed
                    app which will help our user to share and find some stunning holidays places around the world.
                    Whether you are travelling alone,as a couple or with an extended family,
                    Next Destination club has your holiday needs covered.luxury breaks in the Caribbean,maldives and
                    many more places around the world & there are endless options for family holidays!
                </p>
                <a class="btn home-page-button" href="{{url_for('read_more')}}">Read More</a>
            </div>
            <div class="col-lg-6 ">
                <img class="image-3 img-responsive" src="/static/images/beach-11.jpg" alt="beach image">
            </div>
        </div>
    </div>
</section>
<!--Carousel contains some best destination images-->
<section>
    <div class="container-fluid home-page-1 ">
        <div class="row column-reverse">
            <div class="col-lg-7 image-4 bd-example">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/images/beach-5.jpg" class="d-block w-100" alt="beach image">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/beach-11.jpg" class="d-block w-100" alt="beach image">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/beach-4.jpg" class="d-block w-100" alt="beach image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 next-dest-5 next-dest-media-4 ">
                <h4 class="next-dest-2"> Some of the Best Beaches in the world.. </h4>
                <p class="next-dest-3"> Maldives,Mauritius & Bahamas!
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}