{% extends "base.html" %}
{% block content %}
<section>
    <div class="container profile-container ">
        <div class="row">
            <div class="col text-cente mb-4">
                <h1 class="profile-name">
                    {{ username }}'s Profile
                </h1>
                <a href="{{ url_for('edit_profile', user_id=user_profile._id) }}" class="edit-profile">Edit Profile</a>
                <a href="#" class="delete-profile" data-bs-toggle="modal" data-bs-target="#delete-user">
                    Delete Profile
                </a>
                <!-- warning mesasge & delete button -->
                <div class="modal fade" id="delete-user" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Remove My Profile</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>{{ username }}! Are you sure ! You want to delete your profile? </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary " href="{{ url_for('remove_user_profile', user_id=user_profile._id) }}">Delete</a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
        <div class="container">
            {% if destinations|length > 0 %}
            <div class="row">
                {% for destination in destinations if session.user|lower == destination.created_by|lower %}
                <div class="col-lg-4 col-md-6">
                    <div class="card mb-5">
                        <img src="{{ destination.destination_image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title mb-3 text-center">
                                {{ destination.destination_name }}<span
                                    class="small-text">{{ destination.category_name }}</span></h3>
                            <p class="card-text mb-3"><i class="fas fa-plane"></i> {{ destination.country }}
                            </p>
                            <p class="card-text mb-3"><i class="fas fa-temperature-high"></i>
                                {{ destination.climate }}</p>
                            <p class="card-text mb-3"><i class="fas fa-language"></i>
                                {{ destination.language}}
                            </p>
                            <p class="card-text mb-3"><i class="fas fa-hourglass-half"></i>
                                {{destination.best_time_to_travel }}</p>
                            <p class="card-text mb-3"><i class="fas fa-pen-alt"></i>
                                {{ destination.destination_description }}</p>
                            <p class="card-text mb-3">{{ destination.created_by }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="col mb-5 text-center profile-message">
                <h2 class="profile-message mt-5">You haven't save any destination yet...</h2>
               <a href="{{ url_for('add_destination') }}" class="edit-profile">Create Event</a>
            </div>
        {% endif %}
    </div>
</section>   
           
    
{% endblock %}