{% extends "base.html" %}
{% block content %}
<!--heading-->
<h1 class="text-center mb-5 show-text-1">Some of The Best Destinations </h1>
<main>
    <!--this main section contains  3 different cards images with destinaion description-->
    <div class="container">
        <div class="row">
            <div class="single-destination-container col-md-7 col-sm-12  mb-5">
                <div class="card">
                    <div class="card-image">
                        <img class="card-img-top" src="/static/images/beach-13.jpg" alt="beach image">
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 show-text">
                <h2 class="mb-3 show-text-1">Canary Island holidays</h2>
                <p class="show-text">This group of Spanish islands has been building its holiday hotspot credentials for
                    decades.Plus,the
                    always-sunny weather means that the Canary Islands are the perfect choice for a getaway,whatever
                    time of
                    year you want to go.And,because it’s such a popular destination.</p>
                <p class="show-text-1 mt-2">By:- Next Destination Club <a href="https://www.tui.com/" target="_blank">
                        <i class="fas fa-umbrella-beach p-3"></i></a></p>
            </div>
        </div>
    </div>
</main>
<!--2nd image card-->
<section>
    <div class="container">
        <div class="row column-reverse">
            <div class="single-destination-container col-md-7 col-sm-12 mb-5 ">
                <h2 class="mb-3 show-text-1"> Middle East ( UAE )holidays</h2>
                <p class="show-text">On a holiday to Dubai and the UAE ancient traditions, pristine beaches and dramatic
                    desert come
                    together to give you a flavour of the Middle East with an added dose of modern luxury. Whether
                    in Downtown Dubai – home to Dubai Mall, the stunning Dubai Fountain and Burj Khalifa, or
                    exploring
                    the new Saadiyat Island, Yas Island or the Grand Mosque in Abu Dhabi, there is always something
                    new
                    to see.</p>
                <p class="show-text-1 mt-2">By:- Next Destination Club <a href="https://www.visitdubai.com/en/"
                        target="_blank">
                        <i class="fas fa-umbrella-beach p-3"></i></a></p>
            </div>
            <div class="col-md-5 col-sm-12 show-text mb-5">
                <div class="card ">
                    <div class="card-image ">
                        <img class="card-img-top" src="/static/images/beach-1.jpg" alt="beach image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--3rd image card-->
<section>
    <div class="container">
        <div class="row ">
            <div class="single-destination-container col-md-7 col-sm-12 mb-5 ">
                <div class="card ">
                    <div class="card-image ">
                        <img class="card-img-top" src="/static/images/beach-15.jpg" alt="beach image">
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 show-text mb-5">
                <h2 class="mb-3 show-text-1"> Mauritius holidays</h2>
                <p class="show-text">On a holiday to Mauritius, an Indian Ocean island nation, is known for its beaches,
                    lagoons and reefs. The mountainous interior includes Black River Gorges National Park, with
                    rainforests, waterfalls, hiking trails and wildlife like the flying fox.
                </p>
                <p class="show-text-1 mt-2">By:- Next Destination Club <a href="https://www.mymauritius.travel/"
                        target="_blank">
                        <i class="fas fa-umbrella-beach p-3"></i></a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}